@import url('@fontsource/pt-sans/400.css');
@import url('@fontsource/pt-sans/700.css');
@import "tailwindcss";

:root {
  --background: rgb(200, 228, 201);
  --foreground: #212121;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "PT Sans";
  --font-mono: var(--font-geist-mono);
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:visited {
  color: #2E7D32;
  text-decoration: none;
}

.highlightedCard {
  background-color: #fafad2;
}
